{% extends '../base.html' %}


{% block content %}


    {% if tasks %}

        {% for task in tasks %}
    
            <div class="card">
                <div class="card-body">
                    <h3>{{generic}}</h3>
                    <h4 class="card-title">{{task.title}}</h4>
                    <p class="card-text">{{task.description}}</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{task.get_absolute_url}}" class="btn btn-info">
                        See more
                    </a>
                </div>
            </div>
        {% endfor %}


        {% include "../includes/pagination.html" with page=tasks %}

    {% else %}

            <p>You have no tasks...add one  <a href="{% url "tasks:create_task" %}">here</a></p>

    {% endif %}


{% endblock  %}